body {
  background-color: #aba1c0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3b2e54;
}

.progress-bar {
  width: 1016px;
  height: 20px;
  border: 4px solid #695988;
  background-color: aliceblue;
}

.progress-bar-fill {
  height: 100%;
  background: #cc9fc5;
  transition: width 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}
