body {
  background-color: #aba1c0;
  font-family: "VT323", monospace;
  font-size: 26px;
  color: #2e2442;
}

h1 {
  font-size: 44px;
  font-family: "Patrick Hand SC", cursive;
  letter-spacing: 2px;
  line-height: 30px;
}

h3 {
  line-height: 0px;
}

button {
  background-color: #695988;
  padding: 7px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 12px;
  border: none;
  font-size: 20px;
  font-family: "VT323", monospace;
}

.all-bars {
  position: absolute;
  left: 764px;
  top: 345px;
  visibility: hidden;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  z-index: 100;
}

.progress-bar {
  width: 250px;
  height: 30px;
  border: 4px solid #695988;
  background-color: aliceblue;
}

.progress-bar-fill {
  height: 100%;
  width: 0%;
  background: #cc9fc5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  position: absolute;
  visibility: visible;
  top: 100px;
  left: 20px;
}

#play,
#game-over {
  position: absolute;
  width: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 32px;
  left: 320px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#game-over,
#pause-game {
  display: none;
}

#restart {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 32px;
  left: 496px;
  transform: translateX(-50%);
  visibility: hidden;
}

#pause {
  position: absolute;
  top: 32px;
  left: 600px;
  transform: translateX(-50%);
  visibility: hidden;
}

#pause-game {
  visibility: hidden;
  position: absolute;
  left: 770px;
  top: 190px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-color: aliceblue;
  border: 4px solid #695988;
  padding: 6px 6px 12px 6px;
}
