body {
  background-color: #aba1c0;
  font-family: Arial, Helvetica, sans-serif;
  color: #3b2e54;
}

.all-bars {
  position: absolute;
  left: 762px;
  top: 340px;
  visibility: hidden;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  z-index: 100;
}

.progress-bar {
  width: 250px;
  height: 20px;
  border: 4px solid #695988;
  background-color: aliceblue;
}

.progress-bar-fill {
  height: 100%;
  background: #cc9fc5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  position: absolute;
  top: 100px;
  left: 20px;
}

#play,
#game-over,
#pause-game {
  position: absolute;
  width: 120px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  top: 30px;
  left: 300px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

#game-over,
#pause-game {
  display: none;
}

#restart {
  position: absolute;
  top: 30px;
  left: 500px;
  transform: translateX(-50%);
}

#pause {
  position: absolute;
  top: 30px;
  left: 600px;
  transform: translateX(-50%);
}
